header {
    font-size: 48px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

h3 {
    margin-left: 24px;
    margin-top: 40px;
}

input {
    margin-left: 24px;
}